* {
  font-family: Assistant;
  font-size: 32px;
  color: white;
}

h1 {
  margin: 0;
}

.Overall-header {
  background-color: red;
  height: 50px;
  padding: 15px 0 10px 0;
  border-bottom: solid 2px #d4d4d4;
}

.Account-Page-Header {
  background-color: blue;
  background-image: url(http://www.fabiovisentin.com/photography/photo/25/sky-wallpaper-02939.jpg);
  height: 178px;
  padding: 20px 24px 20px 24px;
  text-align: center;
}

.Account-Page-Header p {
  font-size: 16px;
}

.Account-Content {
  background-color: green;
  padding: 0 5px 0 5px;
  overflow: auto;
}

.Account-OptionsBar {
  margin: 20px 0 45px 0;
  height: 47px;
  background-color: black;
  border-bottom: 2px solid #ceccd1;
}

.Transactions {
  height: 400px;
  background-color: teal;
  border: 1px solid black;
}

.Overall-Footer {
  height: 200px;
  padding: 20px 24px 20px 24px;
  background-color: orange;
}

.Transfer-Money-Button {
  border: 2px solid white;
  font-size: 24px;
  padding: 5px 30px 5px 30px;
  display: inline;
  border-radius: 4px;
  width: 230px;
  min-height: 48px;
}
